version: '3.8'

services:
  web:
    build: .
    container_name: django_app
    # Sleep 30s để chờ DB khởi động xong
    command: bash -c "sleep 30 && python manage.py migrate && gunicorn --bind 0.0.0.0:8000 hospital.wsgi:application"
    environment:
      - TZ=Asia/Ho_Chi_Minh  # Đã có (Tốt)
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - .env

  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_DATABASE: 'appointment_db'
      MYSQL_ROOT_PASSWORD: 'Banhmi4o@'
      TZ: Asia/Ho_Chi_Minh  # <--- MỚI THÊM: Đồng bộ giờ cho Database
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: always
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      MYSQL_ROOT_PASSWORD: 'Banhmi4o@'
      TZ: Asia/Ho_Chi_Minh  # <--- MỚI THÊM: Đồng bộ giờ cho trang quản trị
    ports:
      - "8080:80"
    depends_on:
      - db

volumes:
  mysql_data: